:root{

    --backgroundColor:#d6d6d6;
    --canvasbackgroundColor:#111123;
    --infoboxColor:#021019;
    --infoboxShadow:#051b29;
    --infoboxbuttonbordercolor:#052133;
    --materialiconcolor:#a7a7a8;
    --materialiconhover:#d20f4c;
}
